$color-primary: #18c6a3;
$color-secondary: #58b6d0;

/* MISC
   ========================================================================== */
@import "tools/helpers";
@import "tools/hexagrid";
@import "tools/button";
@import "semantic-ui.scss";

/* Generic
   ========================================================================== */
body {
  color: rgb(145, 145, 145);
}

/* Tools
   ========================================================================== */
@import "tools/layout";

/* Responsive
   ========================================================================== */
 @import "tools/responsive";
